@page
<h2>Sorry we've had a problem, please try later</h2>

@*This page doesn't work.

Reference app.UseExceptionHandler("/error"); in Startup.cs
Reference throw new InvalidOperationException(); in AppControllers.cs which goes above return View();*@ 